In [36]:
#Day 2
import pandas as pd 
import numpy as np 
import re

data = pd.read_csv('Day_2_data.csv', header=0, names=['orig'])
#data.head()

                    orig
0           2-4 f: cfkmf
1  9-12 m: mmmmmmmmmmmmm
2     2-10 z: vghqbzbcxf
3   10-11 b: tbtbvbbnbwd
4          1-6 d: cmhdnw

In [93]:
##Part 1
data['split']=data['orig'].str.split('-| |: ', expand=False)
split_data=data['split'].apply(pd.Series).rename(columns={0:'min', 1:'max',2:'letter', 3:'string'})
#split_data.head()

answer=0

for index, row in split_data.iterrows():
    if int(row['min']) <= int(row['string'].count(row['letter'])) <= int(row['max']):
        answer = answer + 1

print(answer)

378

In [101]:
##Part 2

answer2 = 0
for index, row in split_data.iterrows():
    if row['string'][int(row['min'])-1] == row['letter']:
        if row['string'][int(row['max'])-1] != row['letter']:
            answer2 = answer2 + 1
    elif row['string'][int(row['max'])-1] == row['letter']:
        answer2 = answer2 + 1
print(answer2)

280