In [2]:
##Day 1 - Done in Pandas
##Goal: Two Sum

import pandas as pd
import numpy as np

In [14]:
data = pd.read_csv('Day_1_data.csv', header=0, names=['nums'])
data.head(5)

   nums
0  1546
1  1119
2  1870
3  1193
4  1198

In [38]:
#Version 0(n^2) / O(n^3)
for num in data['nums']:
    for num2 in data['nums']:
        for num3 in data['nums']:
            if num+num2+num3 == 2020:
                print(num*num2*num3)

48914340
48914340
48914340
48914340
48914340
48914340

In [39]:
#O(n) way - Part 1
set_num = set()
for num in data['nums']:
    if 2020-num in set_num:
        print(num*(2020-num))
    else: 
        set_num.add(num)

1007331

In [44]:
#O(n^2) way - Part 2
set_num = set()
for num in data['nums']:
    for num2 in data['nums']:
        if 2020-num-num2 in set_num:
            print(num*num2*(2020-num-num2))
            break
        else: 
            set_num.add(num2)

48914340
48914340
48914340